$primary: #3E3E3E;
$bg: #FFFFFF;
$bg-grey1: #EBEBEB;
$bg-grey2: #C4C4C4;
$bg-grey3: #585858;
$bg-image: #B2E3FE;

$text: #1D1D1D;
$text-white: #FFFFFF;
$text-weaken: #666666;
$text-strong: #000000;

$green: #2DA948;
$green-light: #A6D7B1;

$red: #B23131;
$red-light: #FDCACA;

$yellow: #B79232;
$yellow-light: #E7C97E;

$grey: #505050;
$grey-light: #A7A7A7;

$black: #1D1D1D;



