.fullheight {
	height: 100%;
}
.fullwidth {
	width: 100%;
}
.width-auto {
	width: auto;
}
.height-auto {
	height: auto;
}
@for $i from 0 through 50 {
		.width-#{$i * 10}p {
				width: 0% + $i * 10;
		}
		.width-#{$i * 10} {
				width: $i * 10px;
		}
		.width-#{$i * 50} {
				width: $i * 50px;
		}
		.max-width-#{$i * 50} {
			max-width:$i * 50px;
		}
}
@for $i from 0 through 15 {
		.height-#{$i * 10}p {
				height: 0% + $i * 10;
		}
		.height-#{$i * 10} {
				height: $i * 10px;
		}
}
