@import "scss/_variables.scss";

.card {
  display: block;
  padding: 10px;
  background: $bg-grey1;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  line-height: 0.5;
  width: 100%;
  &.withStatus {
    padding-right: 110px;
  }
  .status {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    background: $bg-grey3;
    text-align: center;
    color: $text-white;
    padding: 10px;
  }
}